extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Locator
          small &nbsp;Find places to work with Wi-Fi near you.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Tony's Teas
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 400m
          p.address 222 Tacoma Street, Austin, TX 78701
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Premium Wi-Fi
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Tina's Tacos
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 800m
          p.address 2013 Dorchester Boulevard, Austin, TX 78702
          p
            span.label.label-warning Cold drinks
            | &nbsp;
            span.label.label-warning Tex-Mex food
            | &nbsp;
            span.label.label-warning Premium Wi-Fi
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Shiloh's Snack Shack
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 1600m
          p.address 2008 Fetching Circle, Austin, TX 78703
          p
            span.label.label-warning Water
            | &nbsp;
            span.label.label-warning Treats
            | &nbsp;
            span.label.label-warning Premium Wi-Fi
            | &nbsp;            
    .col-xs-12.col-sm-4
      p.lead Looking for Wi-Fi and a seat? Locator helps you find places to work when you're out and about. Perhaps with coffee, donuts, or a beer? Let Locator help you find the place you're looking for.